<h2 md-dialog-title align="center">Warning!</h2>
<md-dialog-content align="center">{{data}}</md-dialog-content>
<md-dialog-actions align="center">
  <button md-button md-dialog-close="true">OK</button>
</md-dialog-actions>
