<nav md-tab-nav-bar>
  <a md-tab-link [routerLink]="['/school-classes']" routerLinkActive #rla="routerLinkActive">
    Classes
  </a>
  <a md-tab-link [routerLink]="['/children']" routerLinkActive #rla="routerLinkActive">
    Children
  </a>
  <a md-tab-link [routerLink]="['/tasks']" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
    Tasks
  </a>
</nav>
