<div align="center">
  <div>
    <md-toolbar>
      School classes
      <span class="example-spacer"></span>
      <!--<button md-mini-fab color="primary" (click)="lastPage()" mdTooltip="Show last school classes"><img src="/journal-1.0-SNAPSHOT/ui/assets/ic_navigate_before_white_24dp_1x.png"></button>
      <button md-mini-fab color="primary" (click)="nextPage()" mdTooltip="Show next school classes"><img src="/journal-1.0-SNAPSHOT/ui/assets/ic_navigate_next_white_24dp_1x.png"></button>
-->    </md-toolbar>
  </div>
  <p><div class="example-container mat-elevation-z8">
<md-table #table [dataSource]="dataSource">
  <!--<tr *ngIf="dateChange === null">
    <md-card-content>There are no marks on selected newDate</md-card-content>
  </tr>-->
  <ng-container mdColumnDef="name">
    <md-header-cell *mdHeaderCellDef><h2> School class name </h2></md-header-cell>
    <md-cell *mdCellDef="let row"> {{row.name}} </md-cell>
  </ng-container>
  <ng-container cdkColumnDef="curator">
    <md-header-cell *cdkHeaderCellDef><h2> Curator </h2></md-header-cell>
    <md-cell *cdkCellDef="let row"> {{row.curatorFirstName}} {{row.curatorLastName}}</md-cell>
  </ng-container>
  <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
  <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
</md-table>
</div><br>
  <div align="right">
    <a md-button md-raised-button color="primary" (click)="toAddClass()" on-click='overMouseAddClass()' [disabled]="freeTeacherForAddClass()">Add class</a>
  </div>
</div>
