<div>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Subject</th>
          <th>Mark</th>
          <th>Lesson Type</th>
          <th>Comment</th>
        </tr>
      </thead>

      <tr *ngIf="getSetOfDates().length === 0">
        <md-card-content>There are no marks on selected date</md-card-content>
      </tr>
      
      

      <tbody *ngFor="let date of getSetOfDates()">

        <tr>
          <md-card-content>{{date}}</md-card-content>
        </tr>

        <tr *ngFor="let mark of getMarksOnDate(date)">
          <td width="80px"></td>
          <button md-button (click)="onSubjectClick(mark.subject)" [routerLink]="['/marksBySubject']">	
          		<td width="120px">{{mark.subject}}</td>
          </button>
          <td>{{mark.mark}}</td>
          <td width="120px">{{mark.lessonEventTypeName}}</td>
          <td width="120px">
            <button md-button color="primary" (click)="openDialog(mark.comment)">
              {{shortComment(mark.comment)}}
            </button>
          </td>
        </tr>

        <td colspan="5" class="divider"><hr/></td>

      </tbody>

    </table>
</div>
