@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";
th, td {
  padding: 10px;
  text-align: left;
  color: #7A7A7A;
}
