
<div>
	<div class="example-container mat-elevation-z8">
		<table>
			<thead>
				<tr>
					<th>Date</th>
					<th>Subject</th>
					<th>Mark</th>
					<th>Lesson Type</th>
					<th>Comment
					<th>
				</tr>
			</thead>
			<tbody *ngFor="let date of getSetOfDates()">
				<tr>
					<th>{{date}}</th>
				</tr>
				<tr *ngFor="let mark of getMarksOnDate(date)">
					<td></td>
					<td>{{mark.subject}}</td>
					<td>{{mark.mark}}</td>
					<td>{{mark.lessonEventTypeName}}</td>
					<td>{{mark.comment}}</td>
				</tr>
				<td colspan="4" class="divider">
					<hr />
				</td>
			</tbody>
		</table>
	</div>
</div>
