<div class="example-container md-elevation-z8">
  <md-toolbar>
    <span>
      Lesson events
    </span>
    <section style=" margin-left: auto; margin-right: 0;">
      <md-checkbox class="example-margin" color="primary" (click)="notCompleted()" [(ngModel)]="disabledCompleted" [disabled]="disabledNotFinished">Not finished</md-checkbox>
      <md-checkbox class="example-margin" color="primary" (click)="completed()" [disabled]="disabledCompleted" [(ngModel)]="disabledNotFinished">Finished</md-checkbox>
    </section>
    <button style=" margin-left: auto; margin-right: 0;" md-raised-button color="primary" [routerLink]="['/lesson-event']" class="button">New lesson</button>
  </md-toolbar>
  <md-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!--<ng-container mdColumnDef="number">
      <md-header-cell *mdHeaderCellDef> # </md-header-cell>
      <md-cell *mdCellDef="let row"> {{row.number}} </md-cell>
    </ng-container>-->

    <ng-container mdColumnDef="subjectName">
      <md-header-cell *mdHeaderCellDef> Subject </md-header-cell>
      <md-cell *mdCellDef="let row"> {{row.subjectName}} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="schoolClassName">
      <md-header-cell *mdHeaderCellDef> School class name </md-header-cell>
      <md-cell *mdCellDef="let row"> {{row.schoolClassName}} </md-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container mdColumnDef="eventDate">
      <md-header-cell *mdHeaderCellDef> Event date </md-header-cell>
      <md-cell *mdCellDef="let row"> {{row.eventDate}} </md-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container mdColumnDef="openLessonEvent">
      <md-header-cell *mdHeaderCellDef> Action </md-header-cell>
      <md-cell *mdCellDef="let element">
        <a *ngIf="!element.completed"><button md-raised-button color="primary" mdTooltip="Change journal marks" (click)="updateLessonEvent(element.id)">Continue</button></a>
        <a *ngIf="element.completed"><button md-raised-button mdTooltip="Lesson finished" md-button disabled>Finished</button></a>
      </md-cell>
    </ng-container>

    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>

  <md-paginator #paginator
                 [length]="exampleDatabase.data.length"
                 [pageIndex]="0"
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>
</div>
