<span>
  <md-form-field>
    <input mdInput [(ngModel)]="startDate" [mdDatepicker]="pickerStart" placeholder="Date from">
    <md-datepicker-toggle mdSuffix [for]="pickerStart"></md-datepicker-toggle>
    <md-datepicker #pickerStart></md-datepicker>
  </md-form-field>
  <md-form-field>
    <input mdInput [(ngModel)]="endDate" [mdDatepicker]="pickerEnd" placeholder="to">
    <md-datepicker-toggle mdSuffix [for]="pickerEnd"></md-datepicker-toggle>
    <md-datepicker #pickerEnd></md-datepicker>
  </md-form-field>
  <button style="margin-left: 20pt" md-mini-fab color="primary" mdTooltip="Show on selected date" (click)="filterByDate()"><img src="/journal-1.0/ui/assets/ic_search_white_24dp_1x.png"></button>
  <button md-mini-fab color="primary" (click)="previousWeek()" mdTooltip="Show previous week"><img src="/journal-1.0/ui/assets/ic_navigate_before_white_24dp_1x.png"></button>
  <button md-mini-fab color="primary" (click)="currentWeek()" mdTooltip="Show current week"><img src="/journal-1.0/ui/assets/ic_view_week_white_24dp_1x.png"></button>
  <button md-mini-fab color="primary" (click)="nextWeek()" mdTooltip="Show next week"><img src="/journal-1.0/ui/assets/ic_navigate_next_white_24dp_1x.png"></button>
</span>


<div>
  <md-tab-group #tabgroup>
    <md-tab *ngFor="let child of allChildren" [attr.data-childId]="child.id"
            label="{{child.firstName+' '+child.lastName}}">
			<app-marks-journal [childId]="child.id"></app-marks-journal>
    </md-tab>
  </md-tab-group>
</div>
