@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";*/
/*@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";*/
/*@import "~@angular/material/prebuilt-themes/purple-green.css";*/
/*
.app {
  background-image: url("http://p1.pichost.me/i/30/1530514.jpg");
}
*/
/*
.app {
  background-image: url("http://p1.pichost.me/i/30/1530514.jpg");
}
*/
