<div class="example-container mat-elevation-z8">
  <md-toolbar color="primary">
    <span>
      List of students
    </span>
  </md-toolbar>
  <div class="example-header">
    <md-form-field floatPlaceholder="never">
      <input mdInput #filter placeholder="Filter students">
    </md-form-field>
    <button md-mini-fab style="margin-right: auto; background-color: rgb(63, 81, 181)" disabled><img src="/journal-1.0/ui/assets/ic_search_white_24dp_1x.png"></button>
  </div>

  <md-table #table [dataSource]="dataSource">
    <ng-container mdColumnDef="name">
      <md-header-cell *mdHeaderCellDef> <h3>Name</h3> </md-header-cell>
      <md-cell *mdCellDef="let row"><h4> {{row.lastName}} {{row.firstName}} </h4></md-cell>
    </ng-container>
    <ng-container mdColumnDef="absent">
      <md-header-cell *mdHeaderCellDef> <h3>Absent</h3> </md-header-cell>
      <md-cell *mdCellDef="let row">
        <md-radio-group class="example-radio-group">
          <md-radio-button class="example-radio-button" *ngFor="let type of types" [value]="type" (click)="selectAbsent(type, row.id)" [checked]="type === defaultAbsent(row.id)">
            {{type}}
          </md-radio-button>
        </md-radio-group>
      </md-cell>
    </ng-container>


    <ng-container mdColumnDef="score">

      <md-header-cell *mdHeaderCellDef> <h3>Score</h3> </md-header-cell>

      <md-cell *mdCellDef="let row">
        <a *ngIf="!onSelectAbsent(row.id)">
          <md-form-field class="score">
            <a>
              <input mdInput #mark value="{{row.mark}}" maxlength="3" [formControl]="markControl">
            </a>
          </md-form-field>

          <a *ngIf="onSelectAbsent(row.id)" style="align-content: center">
            You can't add mark, when student is absent!
          </a>


          <div *ngIf="!onSelectMark(row.id); then thenBlock else elseBlock"></div>
          <ng-template #thenBlock><button md-raised-button color="primary" (click)="addMark(row.id, mark.value)">Add</button></ng-template>
          <ng-template #elseBlock><button md-raised-button color="accent" (click)="addMark(row.id, mark.value)">Edit</button></ng-template>

        </a>

      </md-cell>
    </ng-container>

    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>
</div><br>
<div align="center" >
  <button md-raised-button color="primary" class="button" (click)="finishLesson()">Finish lesson</button>
</div>
