<form class="startLesson">
  <md-toolbar>
    <span>
       New lesson
    </span>
    <button style=" margin-left: auto; margin-right: 0;" md-raised-button color="primary" (click)="goBack()" class="button">Back</button>
  </md-toolbar>
    <md-select placeholder=" School class" class="select" [disabled]="!selectSchoolClass">
      <md-option *ngFor="let schoolClass of schoolClasses" [value]="schoolClass.name" (click)="onSelectSchoolClass(schoolClass.id)" id="schoolClassName">
        {{schoolClass.name}}
      </md-option>
    </md-select>
  <a>
    <md-select placeholder=" Subject" class="select" [disabled]="!selectSubject">
      <md-option *ngFor="let lesson of lessons" [value]="lesson.subjectName" (click)="onSelectSubject(lesson.id)" id="subjectName" >
        {{lesson.subjectName}}
      </md-option>
    </md-select>
  </a>
  <a>
    <md-form-field class="select">
      <input mdInput [mdDatepickerFilter]="myFilter" (click)="onClickInputDate(date.value)"  [mdDatepicker]="picker" placeholder="Choose a date" #date [disabled]="!selectDate" type="text" disabled>
      <md-datepicker-toggle mdSuffix [for]="picker" [disabled]="!selectDate"></md-datepicker-toggle>
      <md-datepicker #picker [startAt]="startDate" (selectedChanged)="onSelectDate(date,$event)"></md-datepicker>
    </md-form-field>
  </a>
  <a>
    <md-select placeholder=" Type lesson"  class="select" [disabled]="!selectTypeOfLesson">
      <md-option *ngFor="let lessonEventType of lessonEventTypes" [value]="lessonEventType.name" (click)="onSelectTypeOfLesson(lessonEventType.id, date.value)">
        {{lessonEventType.name}}
      </md-option>
    </md-select>
  </a><br>
  <p>
  <md-form-field class="example-full-width">
    <textarea mdInput #comment maxlength="100" placeholder="Comment" [disabled]="!selectCommentAndButtons"></textarea>
    <md-hint align="end">{{comment.value.length}} / 100</md-hint>
  </md-form-field></p>

  <div align="center" >
    <button md-raised-button color="primary" class="button" (click)="startLesson(date.value, comment.value)" [disabled]="!selectCommentAndButtons">Start lesson</button>
  </div><br>
  <a *ngIf="showStudentsBySchoolClass">
    <app-child-by-class-table></app-child-by-class-table>
  </a>
</form>
