<h2 md-dialog-title align="center">Warning!</h2>
<md-dialog-content align="center">{{data}}</md-dialog-content>
<md-dialog-actions align="center">
  <button md-button md-dialog-close="true" (click)="no()">NO</button>
  <button md-button md-dialog-close="true" (click)="yes()">YES</button>
</md-dialog-actions>
