.example-full-width {
  width: 100%;
}
.select {
  width: 15%;
}
.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.startLesson {
  width: 815px;
}
.label {
  width: 200px;
}
/*input[type="text"]:disabled {font-weight: bold; color: black;}*/


/*/deep/ .mat-select-arrow, .mat-select-disabled .mat-select-value, .mat-select-trigger {
  color: rgba(0,0,0,1) !important;
}*/

/*
/deep/ .mat-select-arrow, .mat-select-disabled .mat-select-value, .mat-select-trigger {
  color: rgb(0,0,0) !important;
}
*/

