<form class="startLesson">
  <md-toolbar>
    <span>
       Lesson in the {{schoolClassName}} in {{subjectName}}
    </span>
    <button style=" margin-left: auto; margin-right: 0;" md-raised-button color="primary" (click)="goBack()" class="button">Back</button>
  </md-toolbar>
  <md-form-field class="label">
    <input mdInput #date [disabled]="true" type="text" value="{{schoolClassName}}">
  </md-form-field>
  <md-form-field class="label">
    <input mdInput #date [disabled]="true" type="text" value="{{subjectName}}">
  </md-form-field>
  <md-form-field class="label">
    <input mdInput #date [disabled]="true" type="text" value="{{eventDate}}">
  </md-form-field>
  <md-form-field class="label">
    <input mdInput #date [disabled]="true" type="text" value="{{lessonEventType}}">
  </md-form-field>
  <p>
    <md-form-field class="example-full-width">
      <textarea mdInput [disabled]="true">{{comments}}</textarea>
    </md-form-field>
  </p>
  <a *ngIf="studentsBySchoolClass">
    <app-childmark-update></app-childmark-update>
  </a>
</form>
