
<div>
	<table>
		<thead>
		<tr>
		<th>Date</th>
		<th>Mark</th>
		<th>Lesson Type</th>
		<th>Comment</th>
		</tr>
		</thead>
		
		<tr *ngIf="getSetOfSubjects().length === 0">
			<md-card-content>There are no marks for selected subject</md-card-content>
		</tr>
		
		
		<tbody *ngFor="let subject of getSetOfSubjects()">
		

		
		<tr *ngFor="let mark of getMarksOnSubject(subject)">

			<td width="120px">{{mark.date}}</td>
			<td>{{mark.mark}}</td>
			<td width="120px">{{mark.lessonEventTypeName}}</td>
			<td width="120px">
			<button md-button color="primary" (click)="openDialog(mark.comment)">
			{{shortComment(mark.comment)}}
			</button>
			</td>
			</tr>
			
			<td colspan="5" class="divider"><hr/></td>
		
		</tbody>
	</table>
</div>
