
<H1>  <label > {{subjectName}} </label></H1>
<div>
	<md-tab-group #tabgroup> 
		<md-tab *ngFor="let child of allChildren"
			label="{{child.firstName+' '+child.lastName}}"> 
				<a> 
					<md-select
						placeholder="Subject" class="select" [(ngModel)]="subjectName" >
						<md-option *ngFor="let subject of subjects.get(child.id)" [value]="subject.name"
							(click)="onSelectSubject(child.id, subject.id)" id="subjectName"  >
							{{subject.name}}
						</md-option> 
					</md-select>
				</a> 
				
			<app-marks-by-subject [childId]="child.id"></app-marks-by-subject> 
			
		</md-tab> 
		
	</md-tab-group>
	 

</div>


