@import
	"https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic"
	;

cdk-overlay-container{
	opacity: 0;
}

app-file-dialog {
	opacity: 0;
}

th, td {
	padding: 5px;
	text-align: left;
	color: #7A7A7A;
	height: 10px;
}

tr:hover {
	background-color: rgba(197,202,233,.3);
	border: rgba(197,202,233,.3);
}

.mydiv {
	display: none;
}

.myspan {
	margin-right: 20pt;
}

a {
	font: italic;
}

li {
	list-style-type: none;
}

.th-head {
	text-align: center;
}

.row-with-date {
	background: blue;
	text-align: center;
	color: white;
}

.td-subject {
	width: 80px;
}

.td-mark {
	width: 100px;
	text-align: center;
}

.td-lesson {
	width: 100px;
	text-align: center;
}

.td-lesson-event-type {
	width: 100px;
	text-align: center;
}

.td-comment {
	width: 100px;
	text-align: center;
}

.td-files {
	width: 100px;
	text-align: center;
}