<span> <md-form-field> <input mdInput [mdDatepicker]="pickerStart" placeholder="Date from">
	<md-datepicker-toggle mdSuffix [for]="pickerStart"></md-datepicker-toggle> <md-datepicker #pickerStart></md-datepicker>
	</md-form-field> <md-form-field> <input mdInput [mdDatepicker]="pickerEnd" placeholder="to"> <md-datepicker-toggle
		mdSuffix [for]="pickerEnd"></md-datepicker-toggle> <md-datepicker #pickerEnd></md-datepicker> </md-form-field>
	<button style="margin-left: 20pt" md-mini-fab color="primary" mdTooltip="Show on selected date"
		(click)="filterByDate()">
		<img src="/journal-1.0/ui/assets/ic_search_white_24dp_1x.png">
	</button>
	<button md-mini-fab color="primary" (click)="previousWeek()" mdTooltip="Show previous week">
		<img src="/journal-1.0/ui/assets/ic_navigate_before_white_24dp_1x.png">
	</button>
	<button md-mini-fab color="primary" (click)="currentWeek()" mdTooltip="Show current week">
		<img src="/journal-1.0/ui/assets/ic_view_week_white_24dp_1x.png">
	</button>
	<button md-mini-fab color="primary" (click)="nextWeek()" mdTooltip="Show next week">
		<img src="/journal-1.0/ui/assets/ic_navigate_next_white_24dp_1x.png">
	</button>
</span>
<div>
	<table>
		<thead>
			<tr>
				<th class="th-head">Date</th>
				<th class="th-head">Subject</th>
				<th class="th-head">Mark</th>
				<th class="th-head">Lesson Type</th>
				<th class="th-head">Comment</th>
				<th class="th-head">Files</th>
			</tr>
		</thead>
		<tbody>
			<ng-container *ngFor="let date of fetchDates(marks)">
			<tr>
				<md-card-content>{{date}}</md-card-content>
			</tr>
			<ng-container *ngFor="let mark of marks[date]">
			<tr>
				<td></td>
				<td class="td-subject">{{mark.subject}}</td>
				<td class="td-mark">{{mark.mark}}</td>
				<td class="td-lesson-event-type">{{mark.lessonEventTypeName}}</td>
				<td class="td-comment"><button md-button color="primary" (click)="openCommentDialog(mark.comment)">
						{{shortComment(mark.comment)}}</button></td>
				<td class="td-files">
					<li *ngFor="let file of mark.files"><button md-button color="primary" (click)="openFileDialog(file)">
							<span class="myspan">{{file.fileName}}</span>
						</button>
				</td>
			</tr>
			</ng-container>
			<td colspan="6" class="divider"><hr /></td>
			</ng-container>
		</tbody>
	</table>
</div>
