<form class="example-form">
  <md-input-container class="example-full-width">
    <input mdInput disabled value="Teacher info">
    </md-input-container><br>
  <table class="example-full-width" cellspacing="0"><tr>
    <td>
    <md-form-field class="example-full-width">
      <input mdInput placeholder="First name" [formControl]="firstNameFormControl" required #firstName>
      <md-error *ngIf="firstNameFormControl.hasError('pattern')">
        Please enter a valid first name(A-Z and a-z+)
      </md-error>
      <md-error *ngIf="firstNameFormControl.hasError('required')">
        First name is <strong>required</strong>
      </md-error>
    </md-form-field>
    </td>
    <td>
    <md-form-field class="example-full-width">
      <input mdInput placeholder="Last name" [formControl]="lastNameFormControl" required #lastName>
      <md-error *ngIf="lastNameFormControl.hasError('pattern')">
        Please enter a valid first name(A-Z and a-z+)
      </md-error>
      <md-error *ngIf="lastNameFormControl.hasError('required')">
        First name is <strong>required</strong>
      </md-error>
    </md-form-field>
    </td>
  </tr>
    <tr><td>
  <md-form-field class="example-full-width">
    <input mdInput placeholder="Patronymic" [formControl]="patronymicNameFormControl" #patronymic>
    <md-error *ngIf="patronymicNameFormControl.hasError('pattern')">
      Please enter a valid patronymic (A-Z and a-z+)
    </md-error>
  </md-form-field>
    </td>
      <td>
  <md-form-field class="example-full-width">
    <input mdInput placeholder="Nickname" [formControl]="nicknameNameFormControl" required #nickname>
    <md-error *ngIf="nicknameNameFormControl.hasError('pattern')">
      Please enter a valid nickname(A-Z and a-z+)
    </md-error>
    <md-error *ngIf="nicknameNameFormControl.hasError('required')">
      Nickname is <strong>required</strong>
    </md-error>
  </md-form-field>
      </td>
    </tr>
  </table>
  <md-form-field class="example-full-width">
    <input mdInput placeholder="Email" [formControl]="emailFormControl"  required #email>
    <md-error *ngIf="emailFormControl.hasError('pattern')">
      Please enter a valid email address
    </md-error>
    <md-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </md-error>
  </md-form-field>
    <md-form-field class="example-full-width">
      <span mdPrefix>+380 &nbsp;</span>
      <input type="tel" mdInput placeholder="Telephone" [formControl]="telephoneFormControl" #telephone>
      <md-error *ngIf="telephoneFormControl.hasError('pattern')">
        Please enter a valid telephone number
      </md-error>
    </md-form-field>
  <div align="right">
    <button class=".mat-raised-button" md-raised-button color="primary" (click)="addTeacher(firstName.value, lastName.value, patronymic.value, nickname.value, email.value, telephone.value)">Save</button>
    <button class=".mat-raised-button" md-raised-button type="reset">Clear</button>
    <button md-raised-button (click)="onNoClick()">Back</button>
  </div>
</form>
