<form class="example-form">
  <md-input-container class="example-full-width">
    <input mdInput disabled value="Add new class">
  </md-input-container><br>
  <md-form-field class="example-full-width">
    <input mdInput placeholder="Name" [formControl]="classNameFormControl" #nameClass required>
    <md-error *ngIf="classNameFormControl.hasError('pattern')">
      The name of the class can be from 1 to 12, and also contain the ending from 'a' to 'z'.
    </md-error>
    <md-error *ngIf="classNameFormControl.hasError('required')">
      Class name is <strong>required</strong>
    </md-error>
  </md-form-field><p>
  <md-select [(ngModel)]="selectedValue" placeholder="Curator" class="example-full-width" [formControl]="selectControl" required>
    <md-option *ngFor="let teacher of teachers" [value]="teacher.id" (click)="onSelect(teacher.id)">
      {{teacher.lastName}} {{ teacher.firstName }}
    </md-option>
  </md-select><br><br>
</p>
  <div align="right">
    <button class=".mat-raised-button" md-raised-button color="primary" (click)="addClass(nameClass.value)">Save</button>
    <button class=".mat-raised-button" md-raised-button type="reset" (click)="unselect()">Clear</button>
    <button md-raised-button (click)="onNoClick()" tabindex="-1">Back</button>
  </div>
</form>
